# Scpraping tables with pandas

In [4]:
import pandas as pd

df_list = pd.read_html("https://en.wikipedia.org/wiki/List_of_largest_Nordic_companies")
len(df_list), type(df_list)

(4, list)

In [12]:
df_rank = df_list[1]
df_rank

,Rank,Company,Headquarters,Industry,Revenue (billion $),Profits (billion $),Assets (billion $),Market value (billion $)
0,01 (41),Equinor,"Stavanger, Norway",Oil and gas,111.6,13.1,127.8,81.4[2]
1,02 (135),Nordea,"Helsinki, Finland",Banking,21.7,3.4,933.8,39.7[3]
2,03 (152),A.P. Møller-Maersk,"Copenhagen, Denmark",Transportation,56.1,2.6,69.8,33.7[4][5]
3,04 (183),Volvo,"Gothenburg, Sweden",Automotive,45.0,2.6,49.7,30.2[6][7]
4,05 (239),Ericsson,"Stockholm, Sweden",Telecommunication,32.9,1.8,19.0,19.4[8][9]
5,06 (260),DNB,"Oslo, Norway",Diversified financial,11.6,2.2,356.1,21.1[10]
6,07 (280),SEB,"Stockholm, Sweden",Banking,13.5,1.6,344.5,19.2[11][12]
7,08 (282),Handelsbanken,"Stockholm, Sweden",Banking,10.9,1.8,358.0,23.2[13][14]
8,09 (294),Telia,"Stockholm, Sweden",Telecommunications,15.1,2.7,35.9,30.0[15]
9,10 (311),Swedbank,"Stockholm, Sweden",Banking,10.3,1.7,270.8,19.1[16]
10,11 (353),Telenor,"Fornebu, Norway",Telecommunication,16.4,1.3,27.8,33.9[17]
11,12 (432),Fortum,"Espoo, Finland",Utilities,3.9,0.9,29.7,16.8[18]
12,13 (466),Novo Nordisk,"Copenhagen, Denmark",Health care,11.6,3.0,10.9,90.3[19]
13,14 (489),H&M,"Stockholm, Sweden",Retailing,16.3,2.3,8.7,61.6
14,15 (498),Danske Bank,"Copenhagen, Denmark",Banking,20.0,0.3,597.8,15.8
15,16 (503),Sampo Group,"Helsinki, Finland",Insurance,7.2,1.3,38.3,16.3
16,17 (504),Norsk Hydro,"Oslo, Norway",Industrial,16.3,1.1,22.2,11.7
17,18 (528),Atlas Copco,"Stockholm, Sweden",Capital goods,13.6,0.8,14.4,19.0
18,19 (563),Carlsberg Group,"Copenhagen, Denmark",Brewery,11.1,0.9,25.6,12.8
19,20 (573),Nokia,"Espoo, Finland",Technology,50.1,-1.5,44.6,32.8
20,21 (574),Yara International,"Oslo, Norway",Chemical industry,13.0,2.0,12.1,13.3
21,22 (578),Sandvik,"Sandviken, Sweden",Capital goods,13.6,0.8,14.4,19.0
22,23 (707),Skanska,"Stockholm, Sweden",Construction,17.2,1.1,11.8,7.5
23,24 (765),UPM-Kymmene,"Helsinki, Finland",Materials,13.0,0.6,19.3,7.2
24,25 (845),SKF,"Gothenburg, Sweden",Manufacturing,9.6,0.9,8.5,11.5
25,26 (902),Stora Enso,"Helsinki, Finland",Manufacturing,14.2,0.4,16.7,6.0
26,27 (904),Svenska Cellulosa Aktiebolaget,"Stockholm, Sweden",Consumer Goods,11.8,0.1,20.2,12.5
27,28 (937),Kone,"Espoo, Finland",Engineering,9.5,1.2,8.4,14.9
28,29 (1098),Electrolux,"Stockholm, Sweden",Manufacturing,14.7,0.3,10.7,6.8
29,30 (1101),Assa Abloy,"Stockholm, Sweden",Manufacturing,6.1,0.6,8.1,11.2
30,32 (1131),Investor,"Stockholm, Sweden",Diversified financials,2.8,-1.3,31.2,17.0
31,32 (1170),Tele2,"Stockholm, Sweden",Telecommunications,5.9,0.7,6.4,8.6
32,33 (1175),Metso,"Helsinki, Finland",Capital goods,8.6,0.5,8.4,7.3
33,34 (1226),Autoliv,"Stockholm, Sweden",Automotive,8.2,0.6,6.1,6.2
34,35 (1254),Orkla Group,"Oslo, Norway",Media,10.2,-0.1,11.1,8.2
35,36 (1297),Kinnevik,"Stockholm, Sweden",Investment,1.3,1.0,10.2,6.3
36,37 (1363),Storebrand,"Oslo, Norway",Insurance,5.6,0.1,67.2,2.4
37,38 (1373),TDC A/S,"Copenhagen, Denmark",Telecommunications,4.6,0.5,11.4,6.0
38,39 (1376),OP-Pohjola Group,"Helsinki, Finland",Financial services,4.9,0.3,53.3,3.7
39,40 (1388),Aker Solutions,"Oslo, Norway",Engineering,6.1,0.9,5.6,4.5
40,41 (1416),Gjensidige,"Oslo, Norway",Insurance,3.6,0.5,14.7,5.9
41,42 (1481),L E Lundbergföretagen,"Stockholm, Sweden",Investment,3.3,0.7,12.5,4.2
42,43 (1488),Alfa Laval,"Lund, Sweden",Manufacturing,4.2,0.5,4.8,8.7
43,44 (1495),Neste,"Espoo, Finland",Oil refining,20.0,0.2,9.4,3.1
44,45 (1506),Wärtsilä,"Helsinki, Finland",Manufacturing,5.6,0.6,5.8,7.2
45,46 (1619),Boliden AB,"Stockholm, Sweden",Mining,5.8,0.5,5.5,4.6
46,47 (1686),Jyske Bank,"Silkeborg, Denmark",Banking,1.6,0.1,47.2,2.4
47,48 (1750),Swedish Match,"Stockholm, Sweden",Tobacco,1.7,0.4,2.1,8.1
48,49 (1816),Hexagon AB,"Stockholm, Sweden",Technology,2.8,0.4,6.8,7.0
49,50 (1868),Nokian Tyres,"Nokia, Finland",Manufacturing,1.9,0.4,2.4,6.4
50,51 (1883),Kesko,"Helsinki, Finland",Retail,12.3,0.2,5.4,3.2
51,52 (1889),Novozymes,"Copenhagen, Denmark",Health care,1.8,0.3,2.4,7.9
52,53 (1929),Sydbank,"Aabenraa, Denmark",Banking,1.0,0.0,26.8,1.4
53,54 (1935),Getinge Group,"Getinge, Sweden",Medical technology,3.2,0.4,6.0,6.6
54,55 (1937),Coloplast,"Copenhagen, Denmark",Medical equipment,1.8,0.3,1.6,7.3
55,56 (1948),Vestas,"Aarhus, Denmark",Manufacturing,7.6,-0.2,9.6,2.3

In [7]:
df_country = df_list[2]
df_country

   Country  2008-list  2009-list  2010-list  2011-list  2012-list
0   Sweden         20         22         27         22         25
1  Finland         16         13         11         12         12
2   Norway         14          9         10         10          9
3  Denmark          9         12         13         10         10
4  Iceland          4          0          0          0          0

In [8]:
df_size = df_list[3]
df_size

,Rank,Company,Headquarters,Industry,Employees,Reference date
0,1,ISS,"Copenhagen, Denmark",Facility Management,534500,2011[21]
1,2,Securitas,"Stockholm, Sweden",Security Services,335945,2016[22]
2,3,Nokia,"Espoo, Finland",Technology,130050,2011[23]
3,4,A.P. Møller-Maersk,"Copenhagen, Denmark",Transportation,117080,2011[24]
4,5,Ericsson,"Stockholm, Sweden",Telecommunication,104525,2011[25]
5,6,Volvo,"Gothenburg, Sweden",Automotive,98162,2011[26]
6,7,H&M,"Stockholm, Sweden",Retailing,64874,2011[27]
7,8,Electrolux,"Stockholm, Sweden",Manufacturing,52916,2011[28]
8,9,Skanska,"Stockholm, Sweden",Construction,52557,2011[29]
9,10,Sandvik,"Sandviken, Sweden",Capital goods,50030,2011[30]

In [11]:
df_rank.to_csv("nordic_company_rankings.csv", index=False)

#hur många företag per land top 10(slider)

Group focus
- bar chart over top ten most employees
- df_rank with industry drop down
- how many companies per country with slider filter