In [ ]:
import plotly.express as px
import pandas as pd

df = pd.read_excel(
    "../data/resultat-ansokningsomgang-2024 (4).xlsx",
    sheet_name="Tabell 3",
    skiprows=5,
)

df.head()

,Utbildningsområde,SUN5 inriktning,SUN5 inriktning namn,Utbildningsnamn,Beslut,Diarienummer,Flera kommuner,Antal kommuner,Län,Kommun,...,Sökta utbildningsomgångar,Beviljade utbildningsomgångar,Sökta platser per utbildningsomgång,Sökta platser totalt,Beviljade platser utbildningsomgång 1,Beviljade platser utbildningsomgång 2,Beviljade platser utbildningsomgång 3,Beviljade platser utbildningsomgång 4,Beviljade platser utbildningsomgång 5,Beviljade platser totalt
0,Data/IT,481ab,"Utbildningar till programmerare, spel",AI Programmer,Avslag,MYH 2024/3742,Nej,1,Västerbotten,Umeå,...,3,0,30,90,0,0,0,0,0,0
1,Data/IT,481ab,"Utbildningar till programmerare, spel","Forsbergs, Spelutvecklare – Game Programming",Avslag,MYH 2024/4174,Nej,1,Stockholm,Stockholm,...,3,0,20,60,0,0,0,0,0,0
2,Data/IT,481ab,"Utbildningar till programmerare, spel",Futuregames Game Programmer Specialization,Avslag,MYH 2024/3029,Ja,2,Flera kommuner,Flera kommuner,...,3,0,30,90,0,0,0,0,0,0
3,Data/IT,481ab,"Utbildningar till programmerare, spel",Game Programmer,Avslag,MYH 2024/3425,Nej,1,Blekinge,Karlshamn,...,3,0,25,75,0,0,0,0,0,0
4,Data/IT,481ab,"Utbildningar till programmerare, spel",Spelprogrammerare,Beviljad,MYH 2024/3852,Nej,1,Skåne,Malmö,...,4,3,35,140,35,35,35,0,0,105

In [11]:
#målet är att skapa antalet sökta utbildningar per kommun
df.query("Utbildningsområde == 'Data/IT'")["Kommun"].value_counts().to_frame().reset_index().rename({"count": "Amsökta utbildningar"}, axis=1)

            Kommun  Amsökta utbildningar
0        Stockholm                    70
1   Flera kommuner                    58
2         Göteborg                    51
3            Malmö                    30
4            Solna                    14
5        Sundsvall                    10
6        Linköping                    10
7          Mölndal                     7
8           Örebro                     6
9         Västerås                     4
10            Umeå                     3
11           Växjö                     3
12     Helsingborg                     3
13        Halmstad                     2
14           Borås                     2
15        Karlstad                     2
16       Karlshamn                     2
17     Trollhättan                     1
18          Kalmar                     1
19      Norrköping                     1
20       Jönköping                     1
21         Värnamo                     1
22           Luleå                     1
23         Älmhult                     1
24        Botkyrka                     1
25         Varberg                     1
26      Skellefteå                     1
27           Gävle                     1
28          Arboga                     1